doctype html
html
    head
        title Hospital Issuer - Prescription Offer
        link(rel="stylesheet" href="/css/website.css")
    body
        div.container
            h1 Choose prescription to issue
            select#prescription
              each item in prescriptions
                    option(value= item.id)= item.medicationCodeableConcept.text
            div.inputContainer
                label(for="validityDuration") Validity duration (in days):
                input(type="number" min=1 max=365 value=1)#validityDuration
            a#generateOffer Generate offer
            a(href= hospitalPath) Go back
            script.
                let prescription = document.getElementById("prescription");
                let validityDuration = document.getElementById("validityDuration")

                function setHref() {
                    document.getElementById("generateOffer").href = `#{hospitalPrescriptionsPath}/${prescription.value}/offer?validity=${validityDuration.value}`
                }
                setHref();
                prescription.addEventListener("change", setHref);
                validityDuration.addEventListener("change", setHref);
