doctype html
html
    head
        title Hospital Issuer
        link(rel="stylesheet" href="/css/website.css")
    body
        div.container
            h1 Hospital Issuer
            a(href="/hospital/prescriptions") Issue prescription
            a(href="/") Go back to portal