doctype html
html
    head
        title Hospital Issuer - Prescription Offer
        link(rel="stylesheet" href="/css/website.css")
        script(src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js")
    body
        div.container
            h1 Prescription Offer
            p#offer= offer
            div#qrcode
            p Refresh page to generate new offer
            a#download Download QR code
            a(href= hospitalPrescriptionsPath) Go back
            script(src="/scripts/offer.js")