doctype html
html
    head
        title Hospital Verifier
        link(rel="stylesheet" href="/css/website.css")
    body
        div.container
            h1 Hospital Verifier
            a(href= hospitalVerifyPrescriptionPath) Verify prescriptions
            a(href="/") Go back to portal