doctype html
html
    head
        title Portal
        link(rel="stylesheet" href="/css/website.css")
    body
        div.container
            h1 Portal
            a(href= smartLaunchPath) Hospital Issuer
            a(href= hospitalVerifierPath) Hospital Verifier