doctype html
html
    head
        title Issuer Portal
        link(rel="stylesheet" href="/css/website.css")
    body
        div.container
            h1 Issuer Portal
            a(href='/fhir/launch') Hospital