doctype html
html
    head
        title Hospital Issuer - Prescription Offer
        link(rel="stylesheet" href="/css/website.css")
    body
        div.container
            h1 Prescription Offer
            p#link= offer
            div#qrcode
                img(src= data)
            p Refresh page to generate new offer
            a(href = data download="qrcode.png")#download Download QR code
            a(href= hospitalIssuePrescriptionsPath) Go back