doctype html
html
    head
        title Hospital Issuer - Invalid DID
        link(rel="stylesheet" href="/css/website.css")
    body
        div.container
            h1 Invalid DID
            a(href="..") Go back