doctype html
html
    head
        title Hospital Issuer - Session expired
        link(rel="stylesheet" href="/css/website.css")
    body
        div.container
            h1 Session expired
            a(href="/") Go back to portal